<div class="pokemon-showcase-container">

  <div class="pokemon-showcase-header">
    <h1 class="pokemon-showcase-name">{{ selectedPokemon()?.name }}</h1>
    <span class="pokemon-showcase-number">#{{ selectedPokemon()?.dexNumber }}</span>
  </div>

  <div class="pokemon-showcase-image-container">
    <img
      class="pokemon-showcase-image"
      [src]="selectedPokemonSprite()"
      [alt]="selectedPokemon()?.name"
    />
    <div class="pokemon-showcase-types">
      @for (type of activeTypes(); track type.id) {
        <span
          class="pokemon-showcase-type"
          [style.background-color]="type.color">
          {{ type.name }}
        </span>
      }
    </div>
  </div>

  @if (forms().length > 0) {
    <div class="pokemon-showcase-forms">
      <span class="forms-label">FORMAS</span>
      <div class="forms-list">

        <!-- Botón forma normal -->
        <button 
          (click)="selectForm(null)"
          [class.active]="isFormActive(null)">
          Forma normal
        </button>

        <!-- Botones de formas -->
        @for (form of forms(); track form.formIndex) {
          <button
            (click)="selectForm(form)"
            [class.active]="isFormActive(form.formIndex)">
            {{ form.formName }}
          </button>
        }

      </div>
    </div>
  }

</div>