@if(!activeGame()){
  <app-game-error></app-game-error>
}
@else{
  <div class="pokedex-container">
    <div class="pokedex-header">
      <div class="header-lights">
        <div class="light big-light"></div>
        <div class="light small-light red"></div>
        <div class="light small-light yellow"></div>
        <div class="light small-light green"></div>
      </div>
      <div class="header-content">
        <h1>Pokédex</h1>
        <div class="search-container">
          <div class="search-wrapper">
            <input
              type="text"
              placeholder="Buscar Pokémon..."
              (input)="onSearch($event.target.value)"
            />
            <div class="search-light"></div>
          </div>
        </div>
      </div>
    </div>

    <ul class="pokemon-grid">
      @for (pokemon of filtered(); track pokemon.name; let i = $index) {
        <li class="pokemon-item">
          <a
            class="pokemon-link"
            [routerLink]="['/pokedex', pokemon.slug]"
            (click)="pokemonSelected(pokemon)"
          >
            <div class="pokemon-image-container">
              <div class="pokeball-bg"></div>
              <img
                src="{{ spriteSelected(pokemon) }}"
                alt="{{ pokemon.name }}"
              >
            </div>
            <span class="pokemon-number">#{{ pokemon.dexNumber.toString().padStart(3, '0') }}</span>
            <span class="pokemon-name">{{ pokemon.name }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
}