<div class="pokemon-info">
    <div class="pokemon-info-container">
        <h3>Tipo</h3>
        <div class="pokemon-types">
            @for (type of pokemonTypes(); track type.id) {
                <span class="pokemon-info-type" [style.background-color]="type.color">{{ type.name }}</span>
             }
        </div>
    </div>
    <div class="pokemon-info-container">
        <h2>Pokemon {{ pokemon().category }}</h2>
        <p>{{ pokemon().pokedexEntry }}</p>
    </div>
    <div class="pokemon-info-container">
        <h3>Datos fisicos</h3>
        <span class="pokemon-info-label">Altura</span>
        <span class="pokemon-info-value">{{ pokemon().height }} m</span>
        <span class="pokemon-info-label">Peso</span>
        <span class="pokemon-info-value">{{ pokemon().weight }} kg</span>
    </div>
    <div class="pokemon-info-container">
        <h3>Habilidades</h3>
        <div class="pokemon-info-abilities">
            @for (ability of abilities(); track ability.id) {
                <div class="ability">
                    <h4>{{ ability.name }}</h4>
                    <span class="ability-type">Normal</span>
                    <p>{{ ability.description }}</p>
                </div>
            }
            @if (hiddenAbility()) {
                <div class="ability">
                    <h4>{{ hiddenAbility()?.name }}</h4>
                    <span class="ability-type">Oculta</span>
                    <p>{{ hiddenAbility()?.description }}</p>
                </div>
            }
        </div>
    </div>
    <div class="pokemon-info-container">
        <h3>Información adicional</h3>
        <div class="pokemon-info-additional">
            <span class="pokemon-info-label">Color</span>
            <span class="pokemon-info-value">{{ pokemon().color }}</span>
            <span class="pokemon-info-label">Forma</span>
            <span class="pokemon-info-value">{{ pokemon().shape }}</span>
            <span class="pokemon-info-label">Hábitat</span>
            <span class="pokemon-info-value">{{ pokemon().habitat }}</span>
            <span class="pokemon-info-label">Generación</span>
            <span class="pokemon-info-value">{{ pokemon().generation }}</span>
        </div>     
    </div>
    @if(pokemon().eggGroups?.length){
        <div class="pokemon-info-container">
            <h3>Grupos de huevo</h3>
            @for (eggGroup of pokemon().eggGroups ?? []; track eggGroup) {
                <span>{{ eggGroup }}</span>
            }
        </div>
    }
</div>