<div class="pokemon-game-info">
    <div class="pokemon-game-info-container">
        <img class="pokemon-game-info-image" src="{{ urlUbicacion() }}" alt="ubicacion {{ pokemon().name }} image">
    </div>
    <div class="pokemon-game-info-container">
        <span>Ubicación del Pokémon</span>
        <p>Desconocida</p>
    </div>
    @if(pokemon().heldItems){
        <div class="pokemon-game-info-container">
            <span>Posibles objetos del pokemon</span>
                @if (heldItemsList().length > 0) {
                    <div class="pokemon-game-info-held-items">
                        @for (item of heldItemsList(); track item.rarity) {
                        <div class="pokemon-game-info-held-item">
                            <span class="pokemon-game-info-rarity">{{ item.rarityLabel }}</span>
                            <img [src]="spriteService.getItemImagePath(item.itemId).toLocaleLowerCase()"/>
                        </div>
                        }
                    </div>
                }
        </div>
    }
</div>
