<div class="pokemon-game-info">
    <div class="pokemon-game-info-container">
        <img class="pokemon-game-info-image" src="{{ urlUbicacion() }}" alt="ubicacion {{ pokemon().name }} image">
    </div>
    
    <div class="pokemon-game-info-container">
        <span>{{ pokemon().formType === 'mega' ? 'Ubicación de la megapiedra' : 'Ubicación del pokemon' }}</span>
        @if(routesForPokemon().length > 0) {
            @for (route of routesForPokemon(); track route.id) {
            <span>{{ route.id }}</span>
        }
        } 
        @else {
            <span>Ubicacion desconocida.</span>
        }
    </div>

    @if (heldItemsList().length > 0 && routesForPokemon().length > 0) {
        <div class="pokemon-game-info-container">
            <span>Posibles objetos del Pokémon</span>

            <div class="pokemon-game-info-held-items">
            @for (entry of heldItemsList(); track entry.rarity) {
                <div class="pokemon-game-info-held-item">
                <span class="pokemon-game-info-rarity">
                    {{ entry.rarityLabel }}
                </span>

                @if (entry.item) {
                    <img 
                    [src]="spriteService.getItemImagePath(entry.item.id).toLocaleLowerCase()"
                    [alt]="entry.item.name"
                    />
                    <span>{{ entry.item.name }}</span>
                    <span>{{ entry.item.description }}</span>
                }
                </div>
            }
            </div>
        </div>
    }
</div>
