@if(!game()){
  <app-game-error></app-game-error>
}
@else {
  <div class="pokemon-container">
    <app-pokemon-search></app-pokemon-search>
    <div class ="pokemon-showcase">
      @if (pokemon(); as pokemon) {
        <app-pokemon-showcase 
          [pokemon]="pokemon" 
          [pokemonTypes]="pokemonTypes()">
        </app-pokemon-showcase>
      }
      <div class="pokemon-details">
        <nav class="tabs-nav">
          @for (tab of tabs; track tab.id) {
            <button 
              [class.active]="selectedTab === tab.id"
              (click)="selectTab(tab.id)">
              {{tab.label}}
            </button>
          }
        </nav>

        <div class="tab-content">
          @switch (selectedTab) {
            @case ('caracteristicas') {
              <div>
                @if (pokemon(); as pokemon) {
                  <app-pokemon-info 
                    [pokemon]="pokemon" 
                    [pokemonTypes]="pokemonTypes()">
                  </app-pokemon-info>
                }
              </div>
            }
            @case ('ubicacion') {
              <div>
                @if (pokemon(); as pokemon) {
                  <app-pokemon-game-info 
                    [pokemon]="pokemon">
                  </app-pokemon-game-info>
                }
              </div>
            }
            @case ('evolucion') {
              <div>
                Evolución del Pokémon
              </div>
            }
            @case ('estadisticas') {
              <div>
                Estadísticas del Pokémon
              </div>
            }
            @case ('efectividad') {
              <div>
                Efectividad del Pokémon
              </div>
            }
            @case ('movimientos') {
              <div>
                Movimientos del Pokémon
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
}