@if(!game()){
  <app-game-error></app-game-error>
}
@else {
  <div class="pokemon-info-container">
    <app-pokemon-search></app-pokemon-search>
    <div class ="pokemon-info-showcase">
      @if (pokemon(); as pokemon) {
        <app-pokemon-showcase [pokemon]="pokemon"></app-pokemon-showcase>
      }
      <div class="pokemon-info-details">
        <nav class="tabs-nav">
          @for (tab of tabs; track tab.id) {
            <button 
              [class.active]="selectedTab === tab.id"
              (click)="selectTab(tab.id)">
              {{tab.label}}
            </button>
          }
        </nav>

        <div class="tab-content">
          @switch (selectedTab) {
            @case ('caracteristicas') {
              <div>
                Características del Pokémon
              </div>
            }
            @case ('ubicacion') {
              <div>
                Ubicación del Pokémon
              </div>
            }
            @case ('evolucion') {
              <div>
                Evolución del Pokémon
              </div>
            }
            @case ('estadisticas') {
              <div>
                Estadísticas del Pokémon
              </div>
            }
            @case ('efectividad') {
              <div>
                Efectividad del Pokémon
              </div>
            }
            @case ('movimientos') {
              <div>
                Movimientos del Pokémon
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
}